<script server>
  let error = null
  const methods = pb().collection('users').listAuthMethods();
  dbg({
    methods
  })
</script>
<h3>OTP Login</h3>
<% if (error) { %>
<mark><%= error %></mark>
<% } %>
<% if (!methods.otp.enabled) { %>
<mark>OTP login is disabled. See README.md for details.</mark>
<% } else { %>
<form method="post" action="/auth/login/otp">
  <input type="hidden" name="mode" value="otp-request" />
  <label>Email</label>
  <input name="identity" value="<%= data.identity %>" required type="email" title="Enter your email address" />
  <button type="submit">Send OTP Code</button>
</form>
<% } %>