<script server>
  let error = null
  const methods = pb().collection('users').listAuthMethods();
  dbg({
    methods
  })

  if (request.method === 'POST' && body().mode === 'password') {
    const {
      identity,
      password,
      mode
    } = body()

    try {
      const user = signInWithPassword(identity, password)
      dbg({
        user
      })
      redirect(`/`)
    } catch (e) {
      console.error(`**error`, JSON.stringify(e, null, 2))
      error = e.message
    }
  }
</script>
<h3>Password Login</h3>
<% if (error) { %>
<mark><%= error %></mark>
<% } %>
<% if (!methods.password.enabled) { %>
<mark>Password login is disabled. See README.md for details.</mark>
<% } else { %>
<form method="post">
  <input type="hidden" name="mode" value="password" />
  <label>Email</label>
  <input name="identity" value="<%= data.identity %>" />
  <label>Password</label>
  <input name="password" type="password" />
  <button type="submit">Login</button>
  <a href="/auth/forgot">Forgot Password</a>
</form>
<% } %>