<div class="grid">
  <article>
    <header style="text-align:center;">
      <b>PocketPages</b>
    </header>
    <body>
      <img
      alt="Undraw Authentication"
      src="<%= asset('/image/undraw_secure-login.svg') %>"
      height="250">
    </body>
    <footer>
      <blockquote >
        <a href="https://undraw.co/">unDraw</a> provided SVG's
        <br><br>
        <cite>— by <a href="https://twitter.com/ninalimpi" target="_blank">Katerina Limpitsouni</a></cite>
      </blockquote>
    </footer>
  </article>
  <article>
    <body>
      <h2>MPA Auth Demo</h2>
      <hr>
      <p>
      <sup><ins>FYI</ins></sup>With <a href="https://picocss.com/">PicoCSS</a> You can:
      <ul>
        <li>markup keyboard references i.e. <kbd>Ctrl + s</kbd></li>
        <li>delete keyboard references i.e. <kbd><del>Ctrl + s</del></kbd><del></li>
      </ul>
      </p>
    </body>
  </article>
  <article>
    <header style="text-align:center;">
      <b>Now with PicoCSS</b>
    </header>
    <body>
      <img
      alt="Undraw Authentication"
      src="<%= asset('/image/undraw_authentication.svg') %>"
      height="250">
    </body>
  </article>
</div>
