<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="w-full flex flex-col items-center">
      <h1 class="text-5xl font-bold mb-2">PocketPages</h1>
      <img src="apple-touch-icon.png" />
      <h1 class="text-5xl font-bold mb-2">
        Server-Side web pages for PocketBase
      </h1>
      <div class="text-left w-full">
        <pre><code class="language-bash ">bunx pocketpages new mynextapp</code></pre>
      </div>
      <div class="text-left w-full">
        <pre><code class="language-ejs ">// index.ejs
<%%= `Hello, PocketPages!` %></code></pre>
      </div>

      <div class="mockup-browser bg-neutral border w-80 md:w-full">
        <div class="mockup-browser-toolbar">
          <div class="input">http://localhost:8090</div>
        </div>
        <div class="bg-base-100 text-left px-4 pb-32">Hello, PocketPages!</div>
      </div>

      <a href="/docs/overview" class="btn btn-accent mt-4 w-full">Read the Docs</a>
    </div>
  </div>
</div>