<div role="tablist" class="tabs tabs-lifted neutral">
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="bun" checked="checked" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <pre class="w-full max-w-[320px] sm:max-w-full"><code class="language-bash"><%= commands.bun %></code></pre>
  </div>
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="pnpm" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <pre class="w-full max-w-[320px] sm:max-w-full"><code class="language-bash"><%= commands.pnpm %></code></pre>
  </div>
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="yarn" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <pre class="w-full max-w-[320px] sm:max-w-full"><code class="language-bash"><%= commands.yarn %></code></pre>
  </div>
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="npm" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <pre class="w-full max-w-[320px] sm:max-w-full"><code class="language-bash"><%= commands.npm %></code></pre>
  </div>
</div>