<h1>htmx realtime demo</h1>
<p>This is a demo shows you how to use htmx to build a realtime app.</p>

<div hx-ext="pocketbase-sse">
  <div sse-swap="chat" hx-swap="beforeend"></div>
  <!-- Content from SSE will be appended here -->
</div>

<form hx-post="/api/chat" hx-swap="none">
  <input type="text" name="message" />
  <button type="submit">Send</button>
</form>

<div>
  Counter <button hx-get="/api/count"><%- include('count.ejs') %></button>
</div>