<!doctype html>
<html lang="en" data-theme="cupcake">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PocketPages</title>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="/assets/prism.css" rel="stylesheet" />
  <link href="/assets/app.css" rel="stylesheet" />
</head>

<body>
  <%- slot%>
  <script src="/assets/prism.js" defer></script>
</body>

</html>