<a href="https://npmjs.com/package/pocketpages"
  ><img
    class="hidden sm:block"
    src="https://img.shields.io/npm/d18m/pocketpages"
/></a>
<a href="https://npmjs.com/package/pocketpages"
  ><img class="hidden sm:block" src="https://img.shields.io/npm/v/pocketpages"
/></a>
<a href="https://github.com/benallfree/pocketpages"
  ><img
    class="hidden sm:block"
    src="https://img.shields.io/github/stars/benallfree/pocketpages"
/></a>
