<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center max-w-2xl">
    <div class="flex flex-col items-center">
      <h1 class="text-5xl font-bold mb-2">PocketPages</h1>
      <img src="apple-touch-icon.png" />
      <div class="text-3xl font-bold mb-2">
        Build faster with Server-Side web pages - no build chain or complicated
        tech stack required.
      </div>

      <div class="text-left w-full overflow ">
        <pre><code class="language-ejs ">// pb_hooks/pages/index.ejs
<%%= `Hello, PocketPages!` %></code></pre>
      </div>

      <%- include(`/_include/browser.ejs`, { content: `Hello, PocketPages!` }) %>

      <div class="bg-neutral-300 p-4 sm:p-10 rounded-md mt-4 ">
        <div class="text-2xl font-bold">Quickstart</div>
        <%- include(`/_include/quickstart.ejs`) %>
        <div class="text-left items-center flex flex-col w-full max-w-[320px] sm:max-w-full">
          <a href="/docs/overview" class="btn btn-accent mt-4 w-full">Read the Docs</a>
        </div>
      </div>
    </div>
  </div>
</div>