<div class="flex flex-row">
  <div class="flex flex-col justify-top p-2 toc"><%- include(`toc.md`) %></div>
  <div class="flex flex-col justify-top p-10">
    <article class="prose"><%- slot %></article>
  </div>
</div>
