<div class="jumbotron text-center mt-5">
  <h1 class="display-4">PocketPages</h1>
  <p class="lead">Dynamic web pages for PocketBase</p>
  <hr class="my-4" />
  <p>Getting started is simple:</p>
  <pre
    class="text-bg-secondary"
  ><code class="lead">bunx pocketpages dev</code></pre>
  <a
    class="btn btn-primary btn-lg mt-3"
    href="/docs/speedrun-hello"
    role="button"
    >Get Started</a
  >
</div>
