<div class="flex flex-row">
  <div class="flex flex-col justify-top p-10">
    <h2>Speed Runs</h2>
    <ul>
      <li><a href="/docs/speedrun-hello">Up in 30 Seconds</a></li>
    </ul>
  </div>
  <div class="flex flex-col justify-top p-10">
    <article class="prose"><%- slot %></article>
  </div>
</div>
