<script server>
  let error = null
  if (request.method === 'POST') {
    const {
      identity,
      password
    } = body()
    try {
      const user = registerWithPassword(identity, password)
      redirect(`/`)
    } catch (e) {
      error = `Error registering user: ${e.message}`
    }
  }
</script>
<h2>Register</h2>
<% if (error) { %>
<div class="error"><%= error %></div>
<% } %>
<form method="post">
  <label>Username</label>
  <input name="identity" value="<%= data.identity %>" />
  <label>Password</label>
  <input name="password" type="password" value="<%= data.password %>" />
  <button type="submit">Login</button>
</form>